@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@300&family=Secular+One&family=Signika+Negative:wght@500&display=swap');


h2 {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  margin: 30px;
  color: black;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  
}

button {
  background-color: #0e3c7e;
  color: white;
  font-size: 120%;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
}

input {
  margin-left: 8px;
  width: 45px;
  border: none;
  font-size: 120%;
}

button:active {
  background-color: #1e60a9;
}

button:disabled {
  background-color: gray;
}

.button-bar {
  display: inline-block;
  white-space: nowrap;
}

.button-bar button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.button-bar button:first-child {
  margin-left: 0;
}